.banner{
    background: url(../images/pexels-photo-532624.jpeg) no-repeat center;
    -webkit-background-size:cover;
    min-height: 520px;
    position: relative;
}
header{
    position: absolute;
    width: 100%;
}
header .heading-padding{
    padding: 10px 0;
}
header .spacing{
    margin-top: 10px;
}
header .border-radius{
    border-radius: 0;
}
header .logo .logo-icon{
    width: 50px;
    height: 50px;
}
header .logo{
   color: rgb(105, 98, 98);
font-weight: 600;
}
header .logo:hover{
    text-decoration: none;
}
header .menu ul{
    float: right;  
}
header .menu ul li a{
    margin: 0px 20px;
    padding: 23px 15px;
}
header .menu ul li a:hover{
    background-color: rgb(5, 147, 172) !important;
}
header .menu .active{
    margin: 20px 45px 0;
    padding: 4px 21px;
    background-color: orangered;
    color: #fff !important;
    border-radius: 5px;
}
header .menu .active:hover{
    background-color: orangered !important;
    /* color: #fff !important;
    border-radius: 5px; */
}
header .menu .search-engine{
    padding-top: 18px;
    padding-bottom: 14px
}
header .menu .fa{
    background-color: orangered;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}
.content-on-image{
    position: absolute;
    margin-top: 280px;
    width: 100%;
}
.content-on-image h1{
    font-size: 53px;
    color: rgb(236, 230, 230);
    font-family: 'Oswald', sans-serif;
} 
.section1{
    background-color: rgb(241, 240, 240)
}
.section1 .padding{
    padding: 30px 18px;
}
.section1 .content-heading h1{
    font-size: 35px;
    color: rgb(5, 147, 172);
    font-family: 'Oswald', sans-serif;
    margin: 40px 0 30px
}
.section1 .content-heading p{
padding: 0 20px;
text-align: center;
font-family: 'Open Sans', sans-serif;
line-height: 25px;
}
.padding-zero{
    margin: 0;
    padding: 0;
}
.section1 .getintouch-padding{
    padding: 0 100px;
    margin: 40px 0px;
}
.section1 .getintouch-border{
    border-right: 2px solid rgb(216, 210, 210);
}
.section1 .getintouch-form p{
margin-bottom: 30px;
}
.section1 .getintouch-form span{
color: red;
font-weight: 600;
}
.section1 .getintouch-form label{
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.section1 .getintouch-form .number-bold{
    padding: 25px 24px;
    font-weight: 600;
    font-size: 25px;
}
.section1 .social-icons{
    background-color: #777;
}
.section1 .social-icons .fa{
    font-size: 31px;
    color: #fff;
    padding: 12px 10px;
}
.section1 .content-adddress{
    padding-bottom: 5px;
}
.section1 .content-adddress span{
    color: rgb(15, 205, 238);  
    font-weight: 600; 
}
.section1 .iframe-map iframe{
    width: 100%;
    height: 250px;
    margin: 60px 0 15px;
}
.section1 .card-color h3{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.section1 .card-color .card-one{
    width: 42px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(35, 130, 219);
    margin: 0px 14px 0 0px;
}
.section1 .card-color .card-two{
    width: 42px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(35, 176, 219);
    margin: 0 14px;
}
.section1 .card-color .card-three{
    width: 42px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(0, 68, 255);
    margin: 0 14px;
}
.section1 .card-color .card-four{
    width: 42px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(241, 181, 15);
    margin: 0 14px;
}











































.section5{
    background-color: rgb(59, 56, 56);
}
.section5 .padding{
    padding: 50px 17px 40px;
}
.section5 .content{
    padding-right: 10px;
}
.section5 .distance{
    margin-bottom: 80px;
}
.section5 .content h3{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(226, 96, 10);
    margin-bottom: 25px;
}
.section5 .content p{
    color: #fff;
    margin: 5px 0;
}
.section5 .content a:hover{
color: #337ab7;
text-decoration: none;
}
.section5 .content .para{
    border-bottom: 1px solid gray;
    margin-top: 15px;
}
.section5 .content .para-one{
    border-bottom: 1px solid gray;
    margin-top: -5px;
    line-height: 25px;
}
.section5 .content label{
    color: #337ab7;
    margin: 15px 0 5px;
}
.section5 .content .click-botton{ 
    background-color: rgb(27, 142, 187);
    padding: 4px 12px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-top: 22px;
    float: right;
}
.section5 .content .heading{
    margin-bottom: 15px;
}
.section5 .content .smallcard{
    width: 100%;
    background-color: #fff;
    min-height: 60px;
}
.section5 .padding1{
    padding-left: 0;
    margin-bottom: 10px;
    margin-right: -8px;
    padding-right: 24px;
}
.section5 .padding-zero{
    padding: 0;
}
.section5 .padding-zero p{
margin: 0;
}
.section5 .content .para-three{
    border-bottom: 1px solid gray;
    padding: 0;
    margin: 10px 0;
}
.section5 .content .social-icons{
    color: #337ab7;
    font-size: 35px;
    margin-top: -2px
}
.section5 .padding2{
    padding-left: 0;
}
.section5 .content .para-four{
margin-bottom: 15px;
padding-left: 0;
}
.section5 .content .para-four .footer-padding{
    padding: 0;
}
































@media screen and (max-width:768px){
.banner{
    min-height: 422px;
}
header .spacing{
    margin:20px !important;
}
header .menu {
    position: absolute;
    width: 100%;
    background-color: deepskyblue;
    z-index: 1;
}
header .menu ul{
    text-align: center;
    float: none;
}
header .menu ul li a{
    color: #fff !important;
    padding: 15px;
}
.content-on-image{
    position: absolute;
    margin-top: 230px;
    width: 100%;
}
.content-on-image h1{
    font-size: 39px;
} 
.section1 .getintouch-padding{
    padding: 0 5px;
    margin: 40px 0px;
}
.section1 .getintouch-border{
    border-right:none;
}
.section1 .getintouch-form p{
    text-align: center;
 }
 .section1 .content-heading p {
      padding: 0;
 }
 .section1 .card-color .card-one{
    width: 42px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(35, 130, 219);
    margin: 0px 8px 0 0px;
}
.section1 .card-color .card-two{
    width: 42px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(35, 176, 219);
    margin: 0 8px;
}
.section1 .card-color .card-three{
    width: 42px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(0, 68, 255);
    margin: 0 8px;
}
.section1 .card-color .card-four{
    width: 42px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(241, 181, 15);
    margin: 0 8px;
}














.section5 .content{
    padding-right: 10px;
    margin-top: 40px;
}
.section5 .content .para-four{
    min-height: 70px;
}
.section5 .content .para-three {
  padding-bottom: 10px;
}
}
